[defaults]
inventory = ./inventory
roles_path = ./roles:./galaxy_roles:~/.ansible/roles:/usr/share/ansible/roles
collections_path = ./collections:./galaxy_collections:~/.ansible/collections:/usr/share/ansible/collections

[ssh_connection]
ssh_args = -o IdentitiesOnly=yes -o ConnectTimeout=10 -o ServerAliveInterval=10 -o ServerAliveCountMax=3 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -F /dev/null -o ControlMaster=auto -o ControlPersist=60s -o ControlPath=/tmp/ansible-ssh-%C